
#header1{
    border: 1px solid black;
}
.main_header{
    width: 100%;
    background-color: rgb(236, 236, 45);
    border-radius: 20px;
    border: none;
    height: 8vh;
}
#header_ul{
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 100%;

    list-style: none;
    

}
.header_li1{
    display:inline-block;
  line-height: 100%;
    width: 20%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    vertical-align: middle;
    color: rgb(32, 12, 6);

}
.header_li{
    display:inline-block;
  line-height: 100%;
    width: 15%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: rgb(151, 149, 149);
    font-weight: bold;
   

}
.cen{
   padding-top: 15px;
}
.cen1{
    padding-top: 20px;
 }
 .cen2{
    padding-top: 20px;
    display: inline-block;
    font-size: 20px;
 }
 .size{
     margin-top: 5%;
     text-align: center;
     margin-left: 15%;
     width: 70%;
     height: 50vh;

 }
 .board{
    margin-left: 7%;
    width: 90%;
    height: 60vh;
    margin-top: 5%;
  
 }
 .title{
     font-size: 40px;
     font-weight: bold;
     text-align: center;

 }
 .content{
     width: 100%;
     height: 100%;
 }
 .cont_ul{
     width: 100%;
     height: 100%;
     list-style: none;
     margin-left: 0%;
     padding-left: 0%;
 }
 .cont_li{
     width: 100%;
     height: 10%;
     margin-left: 0%;
     padding-left: 0%;
     border-bottom: 1px solid black;
 }
 .cont_top{
    margin-left: 0%;
    width: 100%;
    height: 15%;
    display: inline-block;
    list-style: none;

    font-size: 20px;
    background-color: rgb(248, 246, 246);
    
    font-weight: bold;
}
 .cont_1{
     margin-left: 0%;
     width: 100%;
     height: 100%;
     display: inline-block;
     list-style: none;
     
 }
 .c1{
     display: inline-block;
     text-align: center;
     padding-top: 25px;
        width: 20%;
 }
 .c2{
    display: inline-block;
    text-align: center;
    width: 50%;
}
.c3{
    display: inline-block;
    text-align: center;
    width: 20%;
}
.loaction{
    padding-top: 40px;
    list-style: none;
}
.pho1{
    list-style: none;
    display: inline;
    margin-left: 0%;
    border: 1px red solid;
    height: 100%;
}
.pho2{
    list-style: none;
    display: inline-block;
    width: 30%;
    margin-left: 0%;
    height: 100%;

}
.line1{
    width: 100%;
    height: 100%;
    list-style: none;
    margin-left: 0%;
}
.line2{
    width: 100%;
    height: 40%;
    border: 1px red solid;

    margin-left: 0%;

}