
#header1{
    border: 1px solid black;
}
.main_header{
    width: 100%;
    background-color: beige;
    border: 1px solid black;
    height: 10vh;
}
#header_ul{
    margin-top: 0%;
    width: 100%;
    height: 100%;
    border: 1px red solid;
    list-style: none;
    

}
.header_li{
    display:inline-block;
  line-height: 100%;
    width: 20%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    
    border: 1px red solid;
   

}