
.section1{
    width: 90%;
    width: 150vh;
    border: 1px red solid;
}

.pho1{
    width: 100%;
    width: 100%;
    border: 1px red solid;

}
.pho2{
    width: 100%;
    height: 30%;
}
.pho3{
    
}