
.section_1{
    width: 100%;
    height: 60vh;

    margin-top: 5%;
}
.top{
    width: 100%;
    height: 100%;
}

.big{
    width: 35%;
    height: 100%;
    margin-left: 5%;
    float: left;
    
}
.side_1{

    width: 25%;
    margin-left: 45px;
    display: inline-block;
    height: 100%;
    list-style: none;
}
.ul_1{
    list-style: none;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 15px;
}
.title1{
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 15px;
}
.line{
    width: 100%;
    height: 100px;

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 5%;
}
.section_2{
    
    border: 1px blue solid;
    width: 100%;
    height: 300vh;
   
}
.img_div1{
    width: 80%;
    height: 20%;
margin-top: 20px;
    margin-left: 10%;
}
.img_small{
    width: 40%;
    height: 100%;
    margin-left: 10%;
    float: left;
}
.img_small2{
    width: 40%;
    height: 100%;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 30px;


}
.clear{
    clear: both;
}
.img_div2{
    width: 80%;
    height: 25%;
    margin-top: 30px;
    margin-left: 10%;
}
.img_big{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    float: left;
}

.section_3{
    width: 100%;
    height: 20vh;
    border: red solid 1px;
}
.section_3_div{
    width: 100%;
    height: 20%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}